header {
	margin-top: 20px;
	margin-left: 40px;
  height: auto; }


.header_logo, .nav  {
  display: inline-block;
  position: relative;
	vertical-align: bottom;
	}
  /* margin: 20px 30px 10px 0; } */

.nav_position {
	margin-top: 30px;
}

.nav {
	/* margin-right:40px; */

}
.nav a {
	margin-left: 10px;
	/* margin-top: 40px;  */

}

.header_logo {
	margin-right: 20px; }





.hover_border {
	display: inline-block;
  padding: 1px ;
  position: relative;
}
/* Effect1
 *************************************** */
/* 擬似要素の共通スタイル */
.change-border01::after,
.change-border01::before,
.change-border01__inner::after,
.change-border01__inner::before {
  /* background-color: #FFFC3A; */
  /* background-color: #D84933; */
  background-color: #27C9CD;
  /* background-color: #5CD666; */
  /* background-color: #BFFD72; */
  content: '';
  display: block;
  position: absolute;
  z-index: 10;
  transition: all .1s ease;
  -webkit-transition: all .1s ease;
}

.hover_color_yellow::after,
.hover_color_yellow::before,
.hover_color_yellow__inner::after,
.hover_color_yellow__inner::before {
	background-color: #BFFD72;
}

/* 左上へ配置 */
.change-border01::after {
    height: 3px;
    left: -3px;
    top: -3px;
    width: 0px;
}
/* 右下へ配置 */
.change-border01::before {
  bottom: -3px;
  height: 3px;
  right: -3px;
  width: 0px;
}
/* 左下へ配置 */
.change-border01__inner::after {
  bottom: -3px;
  height: 0px;
  left: -3px;
  width: 3px;
}
/* 右下へ配置 */
.change-border01__inner::before {
  height: 0px;
  right: -3px;
  top: -3px;
  width: 3px;
}

/* hover */
.change-border01:hover::after,
.change-border01:hover::before {
  width: 100%;
  width: calc(100% + 3px);
}
.change-border01:hover .change-border01__inner::after,
.change-border01:hover .change-border01__inner::before {
  height: 100%;
  height: calc(100% + 3px);
}
