/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse; }

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation; }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

body {
  font-family: 'Century Gothic','Noto Sans Japanese',sans-serif;
  font-weight: 200;
  line-height: 1.9;
  color: #444;
  font-size: 14px;
  letter-spacing: 1px; }

#wrapper, #footer_wrapper {
  width: 960px;
  margin: auto; }

header {
  height: auto; }

.header_hr {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 7px;
  border-top: solid 3px #87d96a;
  border-bottom: solid 2px #87d96a; }

#scenes_area, #line_up_area, #science_area, #specials_area {
  margin: 0 70px 20px 70px; }

.header_logo, nav {
  display: inline-block;
  position: relative;
  margin: 20px 0 10px 0;
  font-size: 16px;
  font-weight: 300; }

nav {
  margin: 0 0 0 260px; }

nav a {
  padding: 20px 20px; }

.header_logo {
  margin-left: 80px;
  height: 40px; }

#hero_img {
  margin-top: 1px; }

.stage {
  width: auto;
  height: auto;
  z-index: 0;
  position: absolute;
  /*opacity:0.3; */ }

.topic_char_gl {
  width: 960px;
  height: 160px;
  margin-bottom: 30px; }

.topic {
  font-size: 54px;
  position: relative;
  top: 50px;
  margin-left: 70px;
  z-index: 1;
  letter-spacing: 10px;
  font-weight: normal;
  color: 000;
  text-shadow: 2px 1px 0px #87d96a; }

.relaxation, .style, .creativity {
  margin-top: 60px; }

.relaxation_image, .style_image, .creativity_image {
  position: relative;
  display: inline-block; }

.relaxation_image img {
  vertical-align: top; }

.relaxation_text {
  display: inline-block;
  vertical-align: top;
  width: 480px;
  height: 295px;
  background-color: #efefef;
  border: solid 2px #87d96a;
  padding: 30px 80px 40px 80px;
  position: relative;
  margin: -30px 0 0  -40px;
  z-index: -1; }

.style_text {
  display: inline-block;
  vertical-align: top;
  width: 480px;
  height: 295px;
  background-color: #efefef;
  border: solid 2px #e35e24;
  padding: 30px 80px 40px 80px;
  position: relative;
  margin: 30px 0 0  30px;
  z-index: -1; }

.creativity_text {
  display: inline-block;
  vertical-align: top;
  width: 480px;
  height: 295px;
  background-color: #efefef;
  border: solid 2px #249de3;
  padding: 30px 80px 40px 80px;
  position: relative;
  margin: -30px 0 0  -40px;
  z-index: -1; }

.scene_topic {
  font-size: 42px;
  letter-spacing: 4px; }

.green {
  color: #87d96a;
  font-size: 48px;
  line-height: 1; }

.red {
  color: #e35e24;
  font-size: 48px;
  line-height: 1; }

.blue {
  color: #249de3;
  font-size: 48px;
  line-height: 1; }

/*  LINE UP */
.item_box_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 820px;
  margin-bottom: 20px; }

.item_box img {
  width: 238px;
  height: 238px; }

.item_box {
  width: 240px;
  border: solid 1px #87d96a; }

.item_title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.4; }

.item_text {
  width: auto;
  height: 140px;
  background-color: #efefef;
  padding: 0 16px 16px 16px;
  line-height: 1.7; }

#science_image {
  width: 240px; }

.professor {
  width: 240px;
  height: 100px;
  background-color: #87d96a; }

.science_wrapper {
  display: flex; }

.professor {
  padding: 20px 10px; }

.katagaki {
  display: inline-block;
  color: #fff;
  font-weight: 400; }

.professor_face_image {
  width: 60px;
  display: inline-block;
  text-align: right;
  margin-top: 0;
  margin-bottom: 16px; }

.science_right {
  margin-left: 40px; }

.science_index {
  font-size: 26px;
  font-weight: 400;
  width: 530px;
  padding: 2px 20px;
  border-left: solid 2px #87d96a;
  border-bottom: solid 2px #87d96a;
  line-height: 1.5; }

.science_description {
  margin-top: 26px;
  padding: 0 10px; }

#specials_area img {
  width: 270px;
  height: auto; }

#kanransha_main {
  width: 270px;
  height: 2000px; }

.specials_img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between; }

.clover_area, .husha_area, .kanransha_area {
  width: 270px;
  height: 220px;
  margin: auto;
  user-select: none; }

#clover_main {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  z-index: 1;
  transform-origin: 30.74% 55.5%;
  cursor: pointer; }

#husha_main {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  z-index: 1;
  transform-origin: 45.5% 39.7%;
  cursor: pointer; }

#kanransha_main {
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  z-index: 1;
  transform-origin: 49.3% 51.1%;
  cursor: pointer; }

#clover_bg, #husha_bg, #kanransha_bg {
  position: absolute;
  z-index: -2; }

#white_space {
  position: relative;
  z-index: 2;
  top: 180px;
  width: 270px;
  height: 30px;
  background-color: white; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#try_click {
  color: #aaaaaa;
  text-align: center;
  font-size: 28px; }

.blink {
  animation-name: flash2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running; }

@keyframes flash2 {
  45% {
    opacity: 100; }
  50% {
    opacity: 0; }
  55% {
    opacity: 100; } }

footer {
  margin-top: 50px;
  width: auto;
  height: 400px;
  background-color: #F2F2F2;
  border: solid 1px #ccc;
  font-weight: 400;
  line-height: 2.2; }

#footer_wrapper {
  text-align: center;
  padding: 40px 0; }

.footer_main_message {
  font-size: 26px; }

.footer_attention_message {
  font-size: 8px;
  margin-bottom: 40px; }

.footer_hr {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  border-top: dotted 1px #cdcdcd; }

#footer_hr_area {
  margin: 20px 0 20px 0; }

.footer_logo {
  margin-top: 20px; }

.copyright {
  margin-top: 20px;
  display: block;
  font-size: 9px; }

#img_hs1 {
  background-image: url("../img/hs1_spin.jpg");
  background-size: contain; }

#img_hs2 {
  background-image: url("../img/hs2_spin.jpg");
  background-size: contain; }

#img_hs3 {
  background-image: url("../img/hs3_spin.jpg");
  background-size: contain; }

#img_hs4 {
  background-image: url("../img/hs4_spin.jpg");
  background-size: contain; }

#img_hs5 {
  background-image: url("../img/hs5_spin.jpg");
  background-size: contain; }

#img_hs6 {
  background-image: url("../img/hs6_spin.jpg");
  background-size: contain; }
