<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>テック自由研究.jp</title>
  <link rel="stylesheet" href="./assets/reset.css">
  <link rel="stylesheet" href="./assets/common.css">
  <link rel="stylesheet" href="./assets/handspinner.css">
	<link rel='stylesheet' href='./assets/spectrum.css'>
	<link rel="stylesheet" type="text/css" href="./assets/iziModal.min.css" media="screen, tv">
	<link rel="icon" type="image/gif" href="./img/favicon.gif">
	<link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>

<!-- <input type="text" id="picker1"> -->
  <div id="wrapper">
		<header>
      <a href="./index.html" class="hover_border change-border01 hover_color_yellow"><span class="change-border01__inner hover_color_yellow__inner"><img class="header_logo" src="./img/logo.png"></a>

      <nav class="nav_position nav" >
        <a href="./index.html#animate_window" class="hover_border change-border01 hover_color_yellow"><span class="change-border01__inner hover_color_yellow__inner"><img src="./img/nav_about.png"></span></a>
        <img src="./img/sdcard_tensen.png"></img>
        <a href="#" class="hover_border change-border01 hover_color_yellow"><span class="change-border01__inner hover_color_yellow__inner"><img src="./img/nav_wave.png"></span></a>
        <a href="#" class="hover_border change-border01 hover_color_yellow"><span class="change-border01__inner hover_color_yellow__inner"><img src="./img/nav_circle.png"></span></a>
      </nav>

    </header>

		<section id="title_image_area">
			<img src="./img/handspinner_title.png" >
		</section>

		<section id ="spinyart_talk_area">
			<img class="spinyart open-default button" src="./img/spinyart.png" id=spinyart_img >
			<div id="modal-default">

			  <div class="close">
			    <a data-izimodal-close="">×</a>
			  </div>
				<div class="in_modal">
			  <p> <span class="chara_bold chara_underlined">ハンドスピナーの回転の仕組み</span></p><br>
				ハンドスピナーの心臓部には、ベアリングという下図のような部品が使われているよ<br>
				この部品は、とても精密(せいみつ)でパソコンにも使われているんだ<br>
				モノづくりが得意な日本が世界トップクラスの技術力を持っている分野なんだよ。<br>
				<center><img src="./img/hs_bearing.png" width=260 ><br>図 ベアリング</center>

			</div>
			</div>

			 <div class="spinyart_talk vue_phase" >

					<div v-if="v_phase === '1_lets_spin' ">
						<a href="javascript:void(0)" @click="changePhase('2_more_spin')"><img src="./img/btn_spin.png" class="btn_spinyart"></a>
						<img src="./img/fukidashi_reverse.png" class="spinyart_fukidashi">
						<div class="spinyart_talk_chara">
							ようこそバーチャル実験室へ<br>まず…<span class="chara_bold chara_underlined">やっぱ回さないとね</span>
						</div>
					</div>
					<div v-if="v_phase === '2_more_spin'">
						<img src="./img/fukidashi_reverse.png" class="spinyart_fukidashi">
						<div class="spinyart_talk_chara">
						もっと、<br><span class="chara_bold">もっともっと！</span><br>
						<a href="javascript:void(0)" @click="changePhase('3_led_explain')"><img src="./img/btn_more_spin.png" class="btn_spinyart"></a>
						</div>
					</div>
					<div v-else-if="v_phase === '3_led_explain'" class="phase3">
						<img src="./img/fukidashi_reverse.png" class="spinyart_fukidashi" >
						<div class="spinyart_talk_chara_big">
							実はこのハンドスピナー、<span class="chara_underlined">LEDライト</span>が<br>付いてるんだ！<br>
							LEDスイッチを押すと、<span class="chara_underlined">明かりが暗くなってライトが着くよ！</span>
							<img src="./img/led_explain.png" class="led_explain">
							<a href="javascript:void(0)" @click="changePhase('4_led_light_on')"><img src="./img/btn_LEDon.png" class="btn_spinyart"></a>
						</div>
					</div>
					<div v-else-if="v_phase === '4_led_light_on'" class="phase4">
						<img src="./img/fukidashi_reverse.png" class="spinyart_fukidashi">
						<div class="spinyart_talk_chara_phase4">
							ほら光った！模様みたいに見えるのは、<br><span class="chara_underlined">目の｢残像」効果</span>なんだ。<br>　次に点めつを押してみて！
							<a href="javascript:void(0)" @click="changePhase('5_teach_how_to')"><img src="./img/btn_LEDon_off.png" class="btn_spinyart"></a>
						</div>
					</div>
					<div v-else-if="v_phase === '5_teach_how_to'">
						<img src="./img/fukidashi_reverse.png" class="spinyart_fukidashi" height="200px" width="500px">
						<div class="spinyart_talk_chara_big2">　今度は点線みたいになったね！<br>　これ下の<span class="chara_underlined">条件によって、<br>　プログラミング制御</span>されてるんだ！<br><span class="chara_bold">　あ法則を見つけキレイな模様を作ろ</span></div>
					</div>
				 </div>

		</section>

</div>
	<section id="virtual_handspinner_area">
		<div class = "window_bar"><img src="./img/tab_spinner.png" width="360"></div>

		<div class= "main_window">

		<!-- 送信ボタン(仮) -->
				<div>
					<div id="stage"></div>
				</div>

				<img src="./img/hs_infographic_LED.png" class="hs_infographic_LED">
				<!-- <div  height="300" width="100" >aaa</div> -->
				<div class ="app_container">
					<div class="app">
					<!-- <div v-if="v_phase === '5_teach_how_to' "> -->
						<div v-if="term_phase !== 'term_show' ">
							<img src="./img/invisible.png" class="invisible">
						</div>

							<div class="two_btn"><a href="javascript:void(0)"  class="btn_kuwashiku hover_border change-border01"><span class="change-border01__inner"><img src="./img/exec_btn.png" id="exe_btn" width="200"></span></a>
							<a href="javascript:void(0)" @click="addTerm"  class="btn_kuwashiku hover_border change-border01"><span class="change-border01__inner"><img src="./img/add_term_btn.png" width="176"></a></span></div>
							<term-component
								@delete-term="deleteTermEmit"	v-for="(term, index ) in terms" v-bind:term="term" v-bind:id="term.content" v-bind:index="index" v-bind:key="term.id" ></term-component>
							<!-- <term-component @delete-term="deleteTermEmit" v-for="(term, index ) in terms" v-bind:id="term.content" v-bind:index="index" v-bind:key="term.id" ></term-component> -->

					</div>
				</div>
		</div> <!--wrapper閉じる -->
	</section>

	<footer class="footer">
		<div id= footer_wrapper>
			<span class="footer_main_message">テック自由研究.jpの更新をチェック！</span><br>
			<a href=""><i class="fa fa-facebook-square fa-spin" aria-hidden="true"></i>いいね！　</a>
			<a href=""><i class="fa fa-twitter-square fa-spin" aria-hidden="true"></i>フォロー　</a>
			<a href=""><i class="fa fa-instagram fa-spin" aria-hidden="true"></i>フォロー　</a>
			<br>
			<span class="footer_attention_message">このウェブサイトについておよび
				プライバシーポリシーにご同意の上ご登録ください。</span><br>
			<div id=footer_hr_area><span class="footer_hr"></span></div>

			<img src="./img/logo.png" class="footer_logo" width="200px"><br>
			<a href="">サポート</a>　<a href="">プライバシーポリシー</a>　<a href="">法人様•メディア関係のお問い合わせ</a><br>
			<a href="">公式Facebook</a>　<a href="">公式Twitter</a>　<a href="">公式Instagram</a><br>
			<span class="copyright">Copyright 2018 テック自由研究.jp All rights reserved.</span>
		</div>
	</footer>



<script src="./assets/jquery-3.2.1.min.js"></script>
<script src="./assets/jquery.smoothScroll.js"></script>
<script src='./assets/spectrum.js'></script>
<script src='./assets/iziModal.min.js'></script>
<script src='./assets/three.min.js'></script>
<script src="./assets/vue.js"></script>
<script src='./assets/OrbitControls.js'></script>
<!-- <script src='./assets/index.js'></script> -->
<script src='./assets/handspinner.js'></script>
<script src='./assets/jquery.fadethis.js'></script>
<script>
  $('a').smoothScroll();
</script>

<script type="text/x-template" id="term-component">

	<!-- <div v-ref="foo" class="form_container" > -->
	<div class="form_container">
		<div class="box_selection wide_box">
			<select class="which_led" name="which_led">
				<option value="1" selected>LED(A)</option>
				<option value="2">LED(B)</option>
				<option value="3">LED(C)</option>
				<option value="4">LED(D)</option>
				<option value="5">LED(E)</option>
			</select>
		</div>
		<div class="form_out_chara">は</div>
		<div class="box_selection wide_box">
			<select class="how_often_bunbo" name="how_often_bunbo">
				<option value="1" selected>ずっと</option>
				<option value="2">２回に</option>
				<option value="3">３回に</option>
				<option value="4">４回に</option>
				<option value="5">５回に</option>
				<option value="6">６回に</option>
			</select>
		</div>

		<div class="box_selection thin_box">
			<select class="how_often_bunshi" name="how_often_bunshi">
				<option value="1" selected>１回</option>
				<option value="2">２回</option>
				<option value="3">３回</option>
				<option value="4">４回</option>
				<option value="5">５回</option>
			</select>
		</div>

		<!-- <div class="box_selection"> -->
		<div class="form_out_chara"> 色:</div><input type="text" class="which_color" v-bind:id="'picker' + term.id">
		<!-- <div v-bind:id="term.id"> -->
			<!-- <input type="text"> -->
		<!-- </div> -->
		<!-- </div> -->

		<!-- <div class="box_selection thin_box">
			<select class="which_color" name="which_color">
				<option value="black" selected>オフ</option>
				<option value="blue">青色</option>
				<option value="red">赤色</option>
				<option value="yellow">黄色</option>
				<option value="green">緑色</option>
				<option value="skyblue" >水色</option>
				<option value="pink">ﾋﾟﾝｸ</option>
				<option value="white">白色</option>
			</select>
		</div> -->
		<div class="form_out_chara_x"><a href="#" @click.prevent="deleteTerm">×</a></div>
	</div>
</script>

</body>


</html>
