@import 'sanitize.css/sanitize';

body {
	font-family: 'Century Gothic','Noto Sans Japanese',sans-serif; font-weight: 200;
	line-height: 1.9;
	color : #444;
	font-size: 14px;
	letter-spacing: 1px;
}

#wrapper, #footer_wrapper {
  width:960px;
  margin: auto;
}

header {
  height: auto;
}

.header_hr {
	display:inline-block;
	position:absolute;
	left: 0;
	width:100%;
	height:8px;
	border-top:solid 2px #87d96a;
	border-bottom:solid 4px #87d96a;
}



#scenes_area , #line_up_area, #science_area, #specials_area{
	margin: 0 70px 20px 70px;
}


.header_logo ,nav {
  display: inline-block;
	position: relative;
	margin: 20px 0 10px 0;
}

nav {
	margin: 0 0 0 280px;
}

nav a {
	padding : 20px 20px;
}

.header_logo {
	margin-left: 80px;
	height: 40px;
}

.stage {
  width: auto;
  height: auto;
  z-index: 0;
  position:absolute;
  /*opacity:0.3; */
}

.topic_char_gl {
  width : 960px;
  height: 160px;
	margin-bottom: 30px;
}

.topic {
  font-size:54px;
  position:relative;
  top:50px;

  margin-left : 70px;
  z-index: 1;
	letter-spacing: 10px;
	font-weight: normal;
	color: 000;
	text-shadow:2px 2px 1px #87d96a;
}

.relaxation , .style, .creativity {
	margin-top : 60px;
}

.relaxation_image , .style_image, .creativity_image {
	position:relative;
	display: inline-block;
}

.relaxation_image img {
			vertical-align: top;
}

.relaxation_text, {
	display:inline-block;
	vertical-align: top;
	width:480px;
	height:295px;

	background-color: #efefef;
	border: solid 2px #87d96a;
	padding: 30px 80px 40px 80px;
	position:relative;
	margin: -30px 0 0  -40px;
	z-index: -1

}

.style_text {
	display:inline-block;
	vertical-align: top;
	width:480px;
	height:295px;
	background-color: #efefef;
	border: solid 2px #e35e24;
	padding: 30px 80px 40px 80px;
	position:relative;
	margin: 30px 0 0  30px;
	z-index: -1
}

.creativity_text {
	display:inline-block;
	vertical-align: top;
	width:480px;
	height:295px;
	background-color: #efefef;
	border: solid 2px #249de3;
	padding: 30px 80px 40px 80px;
	position:relative;
	margin: -30px 0 0  -40px;;
	z-index: -1
}

.scene_topic {
	font-size: 42px;
	// font-feature-settings : "palt";

	letter-spacing: 4px;
}

.green {	color: #87d96a; font-size: 48px; line-height:1; }
.red {	color: #e35e24; font-size: 48px; line-height:1;}
.blue {	color: #249de3; font-size: 48px; line-height:1;}

/*  LINE UP */

.item_box_wrapper {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	height : 880px;
	margin-bottom: 20px;
}

.item_box img {
	width : 238px;
	height: 238px;
}

.item_box {
	width : 240px;
	border: solid 1px #87d96a;
}

.spin {
//	display:none;
}

.item_title {
	// font-size: 34px;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.4;

}

.item_text {
	width:auto;
	height:140px;
	background-color: #efefef;
	padding: 0 16px 16px 16px;
	line-height: 1.7;
}

.science_left {

}

#science_image {
	width : 240px;
}


.professor {
	width:240px;
	height:100px;
	background-color: #87d96a;
}


.science_wrapper {
	display: flex;
}

.professor {
	padding:20px 10px;
}

.katagaki {
	display: inline-block;
	color: #fff;
	font-weight: 400;
}

.professor_face_image {
	width:60px;
	display: inline-block;
	text-align: right;
	margin-top:0;
	margin-bottom: 16px;
}

.science_right {
	margin-left:40px;
}

.science_index {
	font-size: 26px;
	font-weight: 400;
	width:530px;
	padding : 2px 20px;
	border-left: solid 2px #87d96a;
	border-bottom: solid 2px #87d96a;
	line-height: 1.5;
}

.science_description {
	margin-top:26px;
	padding: 0 10px;
}

#specials_area img {
 	width:270px ;
 	height:auto;
}

#kanransha_main {
	width:270px ;
	height:2000px;
}

// SPECIALS //

.specials_img {
//.clover_area, .husha_area, .kanransha_area{
	display : flex;
//	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
}

.clover_area, .husha_area, .kanransha_area {
	width: 270px;
	height:220px;
//	background-color: red;
	margin: auto;
	user-select: none;
//	display: inline-block;
}


#clover_main {
  animation-name: spin;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
  position:absolute;
  z-index : 1;
  transform-origin:30.74% 55.5%;
	cursor : pointer;
}

#husha_main {
  animation-name: spin;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
  position:absolute;
  z-index : 1;
  transform-origin:45.5% 39.7%;
	cursor : pointer;
}
#kanransha_main {
  animation-name: spin;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
  position:absolute;
  z-index : 1;
  transform-origin:49.3% 51.1%;
	cursor : pointer;
}


#clover_bg, #husha_bg, #kanransha_bg {
  position:absolute;
  z-index : -2;
}

#white_space {
	position:relative;
	z-index : 2;
	top:180px;
	width: 270px;
	height:30px;
	background-color: white;
}


@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}



// footer //
footer {
	margin-top:80px;
	width: auto;
	height: 400px;
	background-color: #F2F2F2;
	border:solid 1px #ccc;
	font-weight: 400;
	line-height: 2.2;
}

#footer_wrapper {
	text-align:center;
	padding : 40px 0;
}

.footer_main_message {
	font-size: 26px;
}

.footer_attention_message {
	font-size: 8px;
	margin-bottom: 40px;
}

.footer_hr {
	display:inline-block;
	position:absolute;
	left: 0;
	width:100%;
	height:1px;
	border-top:dotted 1px #cdcdcd;
}

#footer_hr_area {
	margin: 20px 0 20px 0;

}

.footer_logo {
	margin-top: 20px;
}

.copyright {
	margin-top:20px;
	display: block;
	font-size: 9px;
}

// .spin {
// 	position: relative;
// 	display:none ;
// }

#img_hs1 {
	background-image: url("../img/hs1_spin.jpg");
	background-size:contain;
}

#img_hs2 {
	background-image: url("../img/hs2_spin.jpg");
	background-size:contain;
}

#img_hs3 {
	background-image: url("../img/hs3_spin.jpg");
	background-size:contain;
}

#img_hs4 {
	background-image: url("../img/hs4_spin.jpg");
	background-size:contain;
}

#img_hs5 {
	background-image: url("../img/hs5_spin.jpg");
	background-size:contain;
}

#img_hs6 {
	background-image: url("../img/hs6_spin.jpg");
	background-size:contain;
}
